:root {
  --primary: #4c5c68;
  --secondary: #dcdcdd;
  --tertiary: #1985a1;
  --light: #c5c3c6;
  --dark: #46494c;
}

.fade-in {
  animation: page-load .4s cubic-bezier(0.42, 0, 0.6, 1.35) forwards alternate;
}


@keyframes page-load {
  100%  {
     opacity: 1;
     transform: translateX(0%);
}

  0% {
    opacity: 0;
    transform: translateX(-100%);

  }
}



html {
  min-height: 100%;
}

.alert {
  color: rgb(218, 76, 76);
}

main {
  margin-bottom: 85px;
}

body {
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.7;
  font-size: 18px;
  letter-spacing: 0.15em;
  background: rgb(46, 47, 48);
  background: linear-gradient(
    135deg,
    rgba(46, 47, 48, 1) 0%,
    rgba(76, 76, 104, 1) 40%,
    rgba(25, 133, 161, 1) 100%
  );
}

header {
  display: flex;
}

.nav-bar {
  font-family: "Odibee Sans", cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  transition: transform .23s cubic-bezier(1,-0.08, 0.09, 3.24);

}

.nav-bar h1 a:hover {
  transform: translateY(3%);
  background-color: var(--primary);
}

.nav-bar h1 a {
  border-radius: 5px;
  padding: .5em;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

.title {
  color: black;
}

.title-resume {
  color: black;
  border-bottom: solid 2px black;
}

.list {
  flex-wrap: wrap;
}

.home-div {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 8em;
  color: var(--secondary);
}

.about-div {
  width: 80%;
  display: flex;
  margin: auto;
  padding-top: 5em;
  color: var(--secondary);
}

.about-text {
  padding-left: 2em;
}

.about-img img{
  border-radius: .5em;
}

.portfolio-div {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 8em;
  color: var(--secondary);
}

.work-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 16px;
}

.centered {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: var(--light);
  background-color: var(--tertiary);
  border-radius: 20px;
  padding: 0px;
}

.centered-text {
  position: absolute;
  opacity: .9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light);
  background-color: var(--tertiary);
  border-radius: 20px;
  padding: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.contact-div {
  width: 30%;
  margin: auto;
  text-align: center;
  padding-top: 8em;
  color: var(--secondary);
}

.contact-form {
  display: flex;
  align-content: flex-start;
}

.contact-element {
  width: 100%;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.35rem 2rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
  background-color: var(--tertiary);
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

.work-div img {
  border-radius: 50px;
  padding: 13px;
  opacity: .6;
  transition: transform .23s cubic-bezier(1,-0.08, 0.09, 3.24);
}

.work-div img:hover {
  opacity: 1;
}



.profile-img {
  border-radius: 100%;
}

.resume-div {
  width: 50%;
  margin: auto;
  text-align: flex-start;
  padding-top: 8em;
  color: var(--secondary);
}

.resume-div a {
  text-decoration: underline;
}



footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: var(--dark);
  color: var(--secondary);
  text-align: center;
  padding: 20px;
}

footer img:hover {
  opacity: 1;
  transform: scale(1.1)
}

footer h2 {
  padding: 0;
  margin: 0;
}



@media (max-width: 1024px) {
  .about-div {
    flex-wrap: wrap;
  }

  .about-img {
    display: flex;
    margin: auto;
  }

  
}

@media (max-width: 700px) {
  .nav-bar h1 {
    font-size: 24px;
  }
}

@media (max-width: 600px) {
  .about-img img {
    height: 400px;
  }

  .home-div {
    width: 80%;
  }

  .resume-div {
    width: 80%;
  }

  .contact-div {
    width: 80%;
  }

  .home-div img {
    height: 200px;
  }

}

@media (max-width: 535px) {
 

  .home-div h1 {
    font-size: 24px;
  }

  .home-div h3 {
    font-size: 14px;
  }


  .container .work-img {
    height: 200px;
  }

  footer h2{
    font-size: 20px;
  }
}
