:root {
  --primary: #4c5c68;
  --secondary: #dcdcdd;
  --tertiary: #1985a1;
  --light: #c5c3c6;
  --dark: #46494c;
}

html {
  min-height: 100%;
}

body {
  font-family: "Saira Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.7;
  font-size: 18px;
  letter-spacing: 0.15em;
  background: rgb(46, 47, 48);
  background: linear-gradient(
    135deg,
    rgba(46, 47, 48, 1) 0%,
    rgba(76, 76, 104, 1) 40%,
    rgba(25, 133, 161, 1) 100%
  );
}

header {
  display: flex;
}

.nav-bar {
  font-family: "Odibee Sans", cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

h2 {
  padding: 20px;
}

a {
  text-decoration: none;
  color: var(--secondary);
}
a:hover {
  color: var(--tertiary);
}

.title {
  color: black;
}

.title-resume {
  color: black;
  border-bottom: solid 2px black;
}

.list {
  flex-wrap: wrap;
}

.home-div {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 8em;
  color: var(--secondary);
}

.about-div {
  width: 80%;
  display: flex;
  margin: auto;
  text-align: center;
  padding-top: 8em;
  color: var(--secondary);
}

.about-text {
  padding-left: 2em;
}

.portfolio-div {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 8em;
  color: var(--secondary);
}

.work-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 16px;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: var(--dark);
  border-radius: 20px;
  padding: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.contact-div {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 8em;
  color: var(--secondary);
}

.contact-form {
  display: flex;
  align-content: flex-start;
}

.work-div img {
  border-radius: 50px;
  padding: 13px;
  opacity: .6;
  transition: transform .13s;
}

.work-div img:hover {
  opacity: 1;
  transform: scale(1.1)
}

.profile-img {
  border-radius: 100%;
}

.resume-div {
  width: 50%;
  margin: auto;
  text-align: flex-start;
  padding-top: 8em;
  color: var(--secondary);
}

footer {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
  color: var(--secondary);
  text-align: center;
  padding: 20px;
}

footer img:hover {
  opacity: 1;
  transform: scale(1.1)
}

footer h2 {
  padding: 0;
  margin: 0;
}



@media (max-width: 1024px) {
  .about-div {
    flex-wrap: wrap;
  }

  .about-img {
    display: flex;
    margin: auto;
  }

  
}

@media (max-width: 600px) {
  .about-img img {
    height: 400px;
  }
}
